@charset "utf-8";

/* ===============================
Top Page
=============================== */
.header-logo {
    width: 30px;
    height: 30px;
}

.header {
    display: flex;
    justify-content: space-between;
    padding: 30px 60px;
    font-family: 'Noto Serif';
    font-size: 20px;
    font-weight: bold;
    align-items: center;
}

.header-left {
    display: flex;
}

.header-h1 {
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    padding: 5px;
}

.menu-ul {
    display: flex;
    gap: 40px;
}

.mv-bg {
    background: url(../img/mv-bg.png) no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

.mv-bg-container {
    max-width: 876px;
    width: 100%;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -30%);
    color: white;
    text-align: center;
    font-family: 'Noto Sans';
    font-weight: 400;
}

.upper {
    margin-bottom: 40px;
}

.upper-first-p {
    font-family: 'Noto Sans';
    font-size: 50px;
    margin-bottom: 15px;
    font-weight: 400;
}

.upper-second-p {
    font-size: 22px;
    line-height: 1.6;
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
}


.lower-search-container {
    display: flex;
    max-width: 876px;
    background: linear-gradient(to right, #ffffff 0%, #ffffff 60%, #4ebcd8 100%);
    padding: 10px;
    border-radius: 6px;
    align-items: center;
}

.search-field {
    color: #333;
    padding: 5px 40px;
    border-left: 1px solid #ccc
}

.search-field-first {
    padding-left: 10px;
    border-left: none;
}

.search-field-p {
    font-size: 20px;
}

.search-field-span {
    font-size: 16px;
    display: flex;
    align-items: end;
    justify-content: center;
    gap: 5px;
    margin-top: 7px;
}

.search-icon {
    background: url(../img/search.png);
    background-size: contain;
    display: block;
    width: 15px;
    height: 15px;
    margin-top: 13px;
}

.icon-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.lower {
    position: relative;
}

.explore-btn {
    font-family: 'Noto Serif';
    font-size: 21px;
    background-color: #2547f1;
    padding: 16px 20px;
    border-radius: 10px;
    color: #ffffff;
    font-weight: bold;
    position: absolute;
    right: 13px;
    top: 50%;
    transform: translateY(-50%)
}


@media screen and (max-width: 880px) {
    .mv-bg-container {
        max-width: 600px;
        width: 100%;
        padding: 5px;
        margin-top: 20px;
    }

    .lower-search-container {
        display: flex;
        flex-direction: column;
        max-width: 300px;
        padding: 0;
        border-radius: 5px;
        background: linear-gradient(to right, #ffffff, #75dcf6);
        margin: 50px auto 0;
    }

    .search-field {
        border: none;
        border-bottom: 1px solid #ccc;
        width: 100%;
        padding: 15px;
    }

    .explore-btn {
        position: static;
        margin: 60px auto 0 auto;
        width: 200px;
        font-size: 16px;
    }

    .icon-group {
        display: flex;
        gap: 10px;
        align-items: center;
        justify-content: center;
    }

    .search-field-p {
        font-size: 16px;
    }

    .search-field-span {
        font-size: 14px;
    }

    .upper-first-p {
        font-size: 30px;
        text-align: center;
        margin-bottom: 40px;
    }

    .upper-second-p {
        font-size: 18px;
        padding: 0px;
        text-align: center;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {

    .header {
        background-color: #eeebeb;
        padding: 30px 20px;
        width: 100%;
        z-index: 100;
    }

    .hamburger {
        width: 30px;
        height: 20px;
        display: flex;
        flex-direction: column;
        gap: 5px;
    }

    .hamburger .bar {
        display: block;
        width: 100%;
        height: 3px;
        background-color: #151313;
        border-radius: 2px;
        transition: all 0.3s ease;
    }

    .menu {
        display: none;
        width: 100%;
        height: 100vh;
        position: absolute;
        top: 88px;
        left: 0;
        background-color: #ffffff;
        z-index: 1000;
    }

    .menu-ul {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        padding: 10px;
    }

    .menu-ul li {
        width: 100%;
    }

    .menu-a {
        display: block;
        padding: 20px;
        width: 100%;
        position: relative;
        align-items: center;
        justify-content: center;
        font-family: Noto Sans JP;
        font-size: 18px;
        font-weight: 500;
        color: #232325;
    }

    .menu-a::after {
        content: '';
        width: 18px;
        height: 18px;
        background: url(../img/arrow.png) no-repeat;
        position: absolute;
        background-size: contain;
        right: 20px;
    }

    .menu.show {
        display: flex;
    }

    .mv-bg {
        position: relative;
    }

    .hamburger.active .bar:nth-child(1) {
        transform: rotate(45deg) translateY(11px);
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }

    .hamburger.active .bar:nth-child(3) {
        transform: rotate(-45deg) translateY(-11px);
    }
}

/* end mv-bg */

.container {
    background-color: rgb(210, 225, 241);
    border-top-right-radius: 80px;
    border-bottom-right-radius: 80px;
    padding: 60px 0 90px;
    margin-top: 30px;
    font-family: 'Zen Kaku Gothic New';
    font-size: 16px;
}

.inner-container {
    max-width: 1200px;
    width: 100%;
    padding: 0 20px;
    margin: 0 auto;
}

.notice-header {
    position: relative;
    margin-bottom: 40px;
}

.notice-header::before {
    content: "";
    background: url(../img/header-logo.png)no-repeat;
    background-size: contain;
    width: 30px;
    height: 40px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.notice-header-h1 {
    font-size: 34px;
    padding: 0 40px;
    font-weight: 500;
}

.notice {
    border-radius: 40px;
    width: 100%;
    background-color: white;
}

.inner-notice {
    padding: 75px 20px 75px;
    max-width: 985px;
    margin: 0px auto;
}

.btn-wrapper {
    width: fit-content;
    margin: 0 auto;

}

.inner-btn-wrapper {
    display: flex;
    gap: 3px;
    margin-bottom: 15px;
    flex-wrap: wrap;
}

.tab-btn {
    width: 232px;
    background-color: rgb(192, 221, 231);
    border: none;
    border-radius: 6px;
    text-align: center;
    color: black;
    font-family: 'Zen Kaku Gothic New';
    font-size: 16px;
    position: relative;
    padding: 20px;
}

.tab-btn::before {
    content: '';
    width: 5px;
    height: 5px;
    display: inline-block;
    background-color: #2547f1;
    position: absolute;
    left: 22px;
    top: 50%;
    transform: translateY(-50%);
}

.tab-btn.active {
    background-color: #2153A1;
    color: #fff;
}

.tab-btn.active::before {
    background-color: #fff;
}

.content-container {
    display: none;
}

.content-container.show {
    display: block;
}

.content {
    display: flex;
    gap: 20px;
    padding: 25px 0 30px 0;
    border-bottom: 1px dotted #2153A1;
}

.left-content {
    max-width: 200px;
    width: 100%;
}

.left-content-date {
    font-family: 'Poppins';
    font-size: 14px;
}

.left-content-text {
    display: flex;
    color: #2547f1;
    margin-top: 10px;
}

.left-content-text::before {
    content: "";
    width: 5px;
    height: 5px;
    background-color: #2547f1;
    margin-right: 5px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    margin-top: 5px;
}

.right-content {
    line-height: 1.5;
    flex: 1;
}

.right-content-date {
    display: flex;
    gap: 5px;
}

.date-logo {
    width: 75px;
    height: 20px;
    background-color: #2153A1;
    font-family: 'Zen Kaku Gothic New';
    color: #fff;
    border-radius: 2px;
    font-size: 12px;
    padding-bottom: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-content-home {
    display: flex;
    gap: 5px;
}

.home-logo {
    width: 18px;
    height: 16px;
    margin-top: 2px;
}

.fonts-poppin {
    font-family: 'Poppins';
    font-size: 14px;
    color: blue;
}

.fonts-noto {
    font-family: 'Noto Sans JP';
    color: blue;
    font-size: 14px;
    text-decoration: underline;
}

.hover-btn {
    width: 238px;
    height: 55px;
    border-radius: 100vmax;
    color: #fff;
    align-items: center;
    margin: 0 auto;
    position: relative;
    display: flex;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 500;
    background: linear-gradient(to right, #00477A, #005B9D, #13898E, #017472);
    margin-top: 60px;
}

.hover-btn:hover {
    background: linear-gradient(to right, #d48ee3, #ba689d, #e44a64, #e42d83);
}

.hover-btn::after {
    content: '';
    background: url(../img/btn-white-circle.png)no-repeat;
    background-size: contain;
    position: absolute;
    width: 36px;
    height: 36px;
    right: 11px;
    top: 50%;
    transform: translateY(-50%);
}

.hover-btn:hover::after {
    background: url(../img/btn-circle.png) no-repeat;
    background-size: contain;
}

@media screen and (max-width: 768px) {
    .container {
        font-size: 14px;
        border-top-right-radius: 40px;
        border-bottom-right-radius: 40px;
        padding: 35px 0 30px 0;
    }

    .header-logo {
        width: 25px;
        height: 30px;
    }

    .notice-header {
        margin-bottom: 27px;
    }

    .notice-header::before {
        width: 25px;
        height: 25px;
    }

    .notice-header-h1 {
        font-size: 22px;
        padding: 0 28px;
    }

    .inner-btn-wrapper {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        width: 100%;
        row-gap: 5px;
        margin-bottom: 17px;
    }

    .tab-btn {
        width: calc(50% - 3px);
        font-size: 14px;
        /* padding: 0 15px; */
    }

    .content {
        display: flex;
        flex-direction: column;
        gap: 6px;
        padding: 17px 0 20px 0;
    }

    .notice {
        border-radius: 24px;
    }

    .inner-notice {
        padding: 22px 15px 70px 15px;
    }

    .left-content-text {
        margin-top: 5px;
    }

    .right-content-date {
        display: block;
    }

    .right-content {
        line-height: 2;
    }

    .right-content-home.second {
        margin-top: 20px;
    }

    .date-logo {
        margin-bottom: 5px;
    }

    .home-logo {
        margin-top: 5px;
    }

    .hover-btn {
        margin-top: 50px;
    }
}

@media screen and (max-width: 360px) {
    .tab-btn::before {
        left: 10px;
    }

}